<%- include("header") -%>



<h1>Lorem ipsum dolor sit.</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero architecto amet impedit officiis eaque qui aut culpa sed doloremque, quis distinctio voluptatum ipsa hic ad ex molestias, vel maxime necessitatibus.</p>

<%- include("footer") -%>
