body {
    margin: 0;
    text-align: center;
    color: #40514E;
}

h1 {
    margin: 2.6rem auto 2.6rem auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.652em;
    color: #66BFBF;
    line-height: 1;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 20px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0px;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    
}

a:hover {
    color: #EAF6F6;
}


p {
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-top: 10px dotted #EAF6F6;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    width: 5%;
    margin: 100px auto;
}

.container-top {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

.m {
    margin: 0 auto;
}

.profile {
    margin-top: 4rem;
}

.c1 {
    position: absolute;
    right: 300px;
    top: 50px;
}


.c2 {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;

}

.computer {
    width: 25%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}

.chillies {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.p3 {
    margin: 50px auto 0 auto;

}

.btn {
    display: inline-block;
    margin: 50px;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .bottom-container {
    padding-top: 50px;
    margin-bottom: 0;
    height: 100px;
    width: 100%;
      background: #66BFBF;
  }

  .footer-link {
      margin: auto 20px;
      text-decoration: none;
  }

  .footer-text {
      color: #EAF6F6;
      padding-top: 20px;
      padding-bottom: 20px;
      display: block;
  }