body {
    margin: 0;
    text-align: center;
}

.container-top {
    background-color: lightcyan;
position: relative;
padding-top: 100px;
}
.m {
    margin: 0 auto;
}

.c1 {
    position: absolute;
    right: 300px;
    top: 50px;
}


.c2 {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

h1 {
    margin-top: 0;
}